.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}
.new-card {
  border: 1px solid black;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  padding-left: 0;
  padding-right: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.display{
  margin-top: 20px;
  width: 50%;
}
.arrow{
  display: flex;
  flex-direction: column;
  align-content: center;
  display: block;
    margin-top: auto;
    margin-bottom: auto;
}

/* .card-container {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1%;
  flex-wrap: wrap;
} */

/* form {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
} */
/* button {
  outline: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: calc(10px + 2vmin);
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  border: 1px dashed black;
} */
.new {
  font-size: calc(6px + 2vmin);
}
