div{
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
}
/* button{
    font-size: calc(10px + 2vmin);
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    border: 1px dashed black;
} */