.card {
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 1%;
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
  max-width: 300px;
}
.item-image {
  display: block;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.item-price {
  margin-top: 0;
  padding-top: 0;
}
/* button{
    font-size: calc(10px + 2vmin);
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    border: 1px dashed black;
} */
