.card {
  background-image: linear-gradient(to bottom right,#1E9AFE, #60DFCD);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  background-color: white;
  word-wrap: break-word;
  width: 300px;
  padding: 10px;
  margin: 1%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}h3{
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px gray;
}
.item-image {
  display: block;
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}
.item-price {
  margin-top: 0;
  padding-top: 0;
  font-size: 25px;
  color: white;
  text-shadow: 2px 2px gray;
}
/* button{
    font-size: calc(10px + 2vmin);
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    border: 1px dashed black;
} */
