body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
img {
  width: 75px;
  height: 75px;
}
#add{
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #169bd7;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #366ed8;
  margin-top: 10px;
}

#add:active {
  box-shadow: 0 5px #366ed8;
  transform: translateY(4px);
}
.new-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 130px;
}
/* h1 {
  color: #064acb;
  font-weight: 700;
  font-size: calc(10px + 2vmin);
} */
#error{
  width: 100%;
  height: 100vh;
}