body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
img {
  display: block;
  width: 75px;
  height: 75px;
}

/* h1 {
  color: #064acb;
  font-weight: 700;
  font-size: calc(10px + 2vmin);
} */
.card-container {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
